<div #sliderContainer class="slider-container active">
    @for(item of sliderItems; let i = $index; track i) {
        <div class="slider-item">
            @if(item.emoji) {
                <div class="item-emoji permanent-marker-regular" [innerHTML]="item.emoji"></div>
            }
            @if(item.url) {
                <a [routerLink]="[item.url]" (click)="itemClicked(item)">
                    <div class="item-text" [innerHTML]="item.text"></div>
                </a>
            } @else {
                <div class="item-text" [innerHTML]="item.text"></div>
            }
        </div>
    } 
</div>