$space: 24px;

:host {
    display: inline-block;
    width: auto;
    height: auto;
    // margin: $space / 4;

    &.animated {
        animation: blink-animation .8s steps(5, start) infinite;
    }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}