$space: 24px;

:host {
    display: block;
    width: auto;
    height: auto;
    margin: $space / 2;

    &.animated {
        animation: blink-animation .3s steps(5, start) infinite;
    }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}