@if(medias && medias.length) {
    <div class="social-container">
        <!-- SHARE TEMPLATE -->
         @if (share) {
            <!-- <div><mat-icon>share</mat-icon></div> -->
            <!-- <div></div> -->
            @for(medium of medias; track medium.name) {
                <div [ngClass]="{'medium': true}">
                    <ssg-button [type]="'stroked'" (click)="openHref(medium.urlBase + getHref())" [title]="'Share this on ' + medium.name">🫧 {{medium.shortcut}}</ssg-button>
                </div>
            }
        <!-- FEED TEMPLATE -->
        } @else {
            @for(medium of medias; track medium.name) {
                <div class="medium">
                    <ssg-button [type]="'stroked'" (click)="openHref(medium.urlBase)" [title]="'Follow ScreenSaverGallery on ' + medium.name">{{medium.name}} 💨</ssg-button>
                </div>
            }
        }
    </div>
}