<!-- <ssg-stars [color]="'white'"></ssg-stars> -->
<!-- <iframe class="app-theme" src="./assets/attractor/index.html" frameborder="0" allowtransparency="true"></iframe> -->
<!-- featured image -->
<div class="featured-image-container" #featuredImage></div>
<!-- site -->
<div class="home">
    <!-- <h5 class="text-colored">{{siteDescription}}</h5> -->
    <header>
        <ssg-ssg-icon
            [animated]="!siteTitle ? true : false"
            [cursor]="true"
            [routerLink]="['/get']"
        ></ssg-ssg-icon>
        @if(siteTitle && siteDescription) {
            <h1 #waving>{{siteTitle}} ✨ {{siteDescription}}</h1>
        }
    </header>
    <div class="home-buttons">
        @if(siteTitle) {
            <ssg-button type="stroked" routerLink="/about">About</ssg-button>
            <ssg-button [type]="'stroked'" routerLink="/get">❤️‍🔥&nbsp;Get&nbsp;{{siteTitle}}&nbsp;❤️‍🔥</ssg-button>
        }
    </div>
    <span class="flex-spacer"></span>
    <!-- <ssg-info-slider [addItem]="addSliderItem" [align]="'center'"></ssg-info-slider> -->
    <ssg-info-slider-horizontal [addItem]="addSliderItem"></ssg-info-slider-horizontal>
    
    
</div>