<!-- <ssg-stars [color]="'white'"></ssg-stars> -->
<!-- <iframe class="app-theme" src="./assets/attractor/index.html" frameborder="0" allowtransparency="true"></iframe> -->
<!-- featured image -->
<div class="featured-image-container" #featuredImage></div>
<!-- site -->
<div class="home">
    <!-- <h5 class="text-colored">{{siteDescription}}</h5> -->
    <div class="get-ssg" fxLayout="column" fxLayoutAlign="center center">
        <ssg-ssg-icon 
            [animated]="true"
            [cursor]="false"
        ></ssg-ssg-icon>
        <!-- <h3>ScreenSaverGallery</h3> -->
        <ssg-button [type]="'stroked'" routerLink="/get">❤️‍🔥&nbsp;Download now&nbsp;❤️‍🔥<!-- <span fxHide fxShow.gt-xs>❤️‍🔥👇🏿☞ </span>GET&nbsp;ScreenSaverGallery<span fxHide fxShow.gt-xs> ☜👇🏿❤️‍🔥</span> --></ssg-button>
       <!-- <ssg-stats></ssg-stats> -->
    </div> <!--end .get-ssg -->
    <!-- <div class="home-info"> -->
        <!-- TODO: improve sliding -->
        <ssg-info-slider [addItem]="addSliderItem" [align]="'center'"></ssg-info-slider>
    <!-- </div> -->
    <!-- TODO: this site use no cookies !!! and does not collect any data -->
    <!-- <div class="social">
        <ssg-social [share]="false" [medias]="followUs"></ssg-social>
    </div> -->
</div>