:host {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    .home {
        width: 100%;
        height: 100%;
        z-index: 99999;

        .get-ssg {
            z-index: 0;
            width: 100%;

            & > div {
                width: 100%;
            }
            // .mat-raised-button.mat-primary {
            //     cursor: pointer;
            //     background-color: white;
            //     color: #14141e;
            // }

        }

        ssg-ssg-icon {
            cursor: pointer;
            z-index: 0;
        }

        h1 {
            margin: 0;
        }

        h4 {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }

    ssg-stars {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}