$size: 24px;

:host {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    

    

    .home {
        width: 100%;
        height: 100%;
        z-index: 99999;

        .get-ssg {
            z-index: 0;
            width: 100%;
            height: 70%;
            display: block;
            margin-top: calc(3 * $size);

            & > div {
                width: 100%;
            }

            // ssg-button {
            //     transform: scale(3);
            // }
            
        }

        .home-info {
            width: 100%;
            height: 30%;
        }

        ssg-ssg-icon {
            cursor: pointer;
            z-index: 0;
        }

        h1 {
            margin: 0;
        }

        h4 {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }
}