:host {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: inherit;
    width: 100%;
    max-width: 540px;
    // min-width: 600px;

    .item {
        position: absolute;
        display: block;
        bottom: 0;
        // white-space: nowrap;
        text-align: inherit;
        // min-width: 100%;
        width: 100%;
        // min-height: 100px;
        // max-width: 100%;
        padding-bottom: 12px;
        // .message-content {
        //     position: relative;
        // }

        transform: translateY(100%);
        transition: 0s;

        &.active {
            transform: translateY(0);
            transition: .2s ease-in;
        }

        &.leaving {
            transform: translateY(-100%);
            transition: .2s ease-in;
        }

        h5 {
            padding: 0;
            margin: 0;
        }
        // right: 0;
        // transform: translateX(100%);
    }
}