<div #sliderContainer class="slider-container">
    @if(sliderItems.length) {
        @for(item of sliderItems; track item; let i = $index) {
            <div
                class="item"
                [id]="'m-' + i"
                [ngClass]="{active: item.active, leaving: item.leaving}"
            >
                @if(item.emoji) {
                    <div class="text-color-wheel">{{item.emoji}}</div>
                }
                @if(item.url) {
                    <h5>
                        <a [routerLink]="item.url"><span class="link-content" [innerHTML]="item.text | safeHtml"></span></a>
                    </h5>
                } @else {
                    <h5 class="text-color-wheel" [innerHTML]="item.text | safeHtml"></h5>
                }
            </div>
        }
    }
</div>