<mat-form-field appearance="outline">
    <!-- <mat-label>Search ScreenSaverGallery Web</mat-label> -->
    <mat-icon matPrefix>search</mat-icon>
    <input
        type="text"
        placeholder="Search web"
        matInput
        [formControl]="searchCtrl"
        [matAutocomplete]="auto"
    >
    <mat-icon matSuffix>
        <mat-spinner *ngIf="searching" [diameter]="24"></mat-spinner>
    </mat-icon>
    
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [innerHtml]="option.title | safeHtml"></mat-option>
</mat-autocomplete>

