:host {
    display: inline-block;
    font-family: inherit;

    mat-form-field {
        width: 100%;
        font-family: inherit;
        font-size: inherit;
    }
    input {
        font-family: inherit;
    }
}