$space: 24px;

:host {
    display: block;
    width: 100%;

    margin-top: $space;
    margin-bottom: $space * 2;


    // .tags {
    //     padding: 12px;
    // }

    // .post {
    //     article {
    //         img {
    //             max-width: 100% !important;
    //             height: auto;
    //         }
    //     }
    // }
    
}