@use '@angular/material' as mat;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
// @include mat.legacy-core();
@include mat.core();


$font-primary: Arial, sans-serif;
/* 'Jura', sans-serif; */
/* ocr-b-std, monospace; //  */
/* 'Roboto Mono', monospace; */
$font-secondary: 'Roboto Mono', monospace;
/* 'Times New Roman', Times, serif; */
/* 'Caudex', serif; */
/* 'Cormorant Garamond', serif; */
/* ocr-a-std, monospace; //  */
/* 'Russo One', sans-serif; */

// $ssg-color-primary: mat.m2-define-palette(mat.$m2-cyan-palette, A100);
// $ssg-color-accent: mat.m2-define-palette(mat.$m2-cyan-palette, A200);
// $ssg-color-theme: mat.m2-define-dark-theme($ssg-color-primary, $ssg-color-accent);
// 
// @include mat.core-theme($ssg-color-theme);


// custom typography
$ssg-typography: mat.m2-define-legacy-typography-config($font-family: $font-primary);

// Override typography for all Angular Material, including mat-base-typography and all components.
// @include mat.all-legacy-component-typographies($ssg-typography);

/* MIXINS */
@mixin flex-layout-gap($val: calc($space / 2), $direction: row) {
    &>* {
        @if $direction ==row {
            margin: 0 $val;
        }

        @if $direction ==column {
            margin: $val 0;
        }

    }
}

@mixin random-color($selector, $hue, $saturation, $lightness, $alpha) {
    #{$selector}: unquote("hsla(#{$hue}, #{$saturation}%, #{$lightness}%, #{$alpha})");
}

@mixin random-color-button($hue, $saturation, $lightness, $alpha) {
    box-shadow: 0 0 24px hsla($hue, $saturation * 1%, $lightness * 1%, $alpha);
    color: hsla($hue, $saturation * 1%, $lightness * 1%, $alpha);
}

@mixin random-color-shadow-text($hue, $saturation, $lightness, $alpha) {
    text-shadow: 0 0 24px hsla($hue, $saturation * 1%, $lightness * 1%, $alpha);
    color: hsla($hue, $saturation * 1%, $lightness * 1%, $alpha);
}


/* VARIABLES */

$space: 24px;
$dark-color: #14141e;
$light-color: silver;
$accent-color: #84ffff; // #4fc3f7; // #81d4fa; // #55b5db;
$warn-color: red;

/* layers */
@mixin layer-0 {
    z-index: 0;
}

@mixin layer-1 {
    z-index: 99;
}

@mixin layer-2 {
    z-index: 999;
}

@mixin layer-3 {
    z-index: 9999;
}

* {
    box-sizing: border-box;
}

.flex-spacer {
    flex: 1 1 auto;
}

html,
body,
ssg-root {
    display: block;
    width: 100%;
    // height: auto;
    // min-height: 100vh;
    padding: 0;
    margin: 0;
    color: $light-color; // silver;
    background-color: $dark-color; // #14141e;
    font-family: $font-primary;
    font-size: x-large;
    line-height: 1.6;
}

html {
    height: 100%;
}

body,
ssg-root {
    height: auto;
    min-height: 100vh;
}

// body {
//     margin: 0;
//     
// }
small {
    font-size: medium;
}

ssg-root {
    animation: backgroundWheel 10s infinite linear;
    padding: $space;
    padding-top: 3 * $space;

    // width: 100%;
    // height: auto;
    // position: absolute;
    // left: 0;
    // top: 0;
    // overflow: scroll; <- possition sticky not works then
    // &.active-menu {
    //     overflow: hidden;
    // }
    &.mobile {
        word-break: break-word;
        overflow-x: hidden;

        .title {
            position: relative;
            top: 0;
        }
    }

    .theme {
        width: 100%;
        height: 100%;
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    color: white;
}


img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

a {
    color: $accent-color;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;

    .link-content {
        color: $accent-color;
        display: inline-block;
        transition: transform .2s ease-in-out;
    }
}



a:hover {
    .link-content {
        &.text-color-wheel {
            animation: none;
        }

        color: $warn-color;
    }
}



.title {
    @include layer-2();
    position: sticky;
    top: calc(3 * $space);
}

img,
p {
    margin-top: 0;
    margin-bottom: $space;
}

img {
    border: 6px solid aquamarine;
}

.mat-drawer-side.mat-drawer-end {
    border-left: none;
    border-right: none;
}

article {
    display: block;
    max-width: 100%;

    // overflow-x: hidden;
    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wp-caption {
        max-width: 100% !important;
    }
}


figure {
    margin: 0;
    margin-bottom: $space;

    figcaption {
        font-size: small;
        margin: calc($space / 3) 0;
    }

    img {
        margin: 0;
    }
}

/* SHOW/HIDE DOWNLOAD BUTTONS FOR SPECIFIC PLATFORMS */
ssg-root {
    &#mac {

        .win,
        .linux {
            display: none;
        }
    }

    &#win {

        .mac,
        .linux {
            display: none;
        }
    }

    &#linux {

        .mac,
        .win {
            display: none;
        }
    }

}

ssg-info-slider-horizontal {
    display: block;
    width: 100%;
    min-height: calc(3 * $space);
    overflow: hidden;
    position: relative;

    .slider-container {
        width: auto;
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &.active {
            animation: positionRightToLeft 30s infinite linear;
        }

        .slider-item {
            display: flex;
            flex-direction: row;
            margin-right: calc(2 * $space);
            white-space: nowrap;

            .item-emoji {
                margin-right: $space;
            }
        }
    }
}



ssg-info-slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    line-height: inherit;
    width: 100%;

    // max-width: 540px;
    // max-width: 90%;
    .item {
        position: absolute;
        display: block;
        bottom: 0;
        // white-space: nowrap;
        text-align: inherit;
        // min-width: 100%;
        width: 100%;
        // min-height: 100px;
        // max-width: 100%;
        padding-bottom: calc($space / 2);
        // .message-content {
        //     position: relative;
        // }

        transform: translateY(100%);
        transition: 0s;

        &.active {
            transform: translateY(0);
            transition: .2s ease-in;
        }

        &.leaving {
            transform: translateY(-100%);
            transition: .2s ease-in;
        }

        h5 {
            padding: 0;
            margin: 0;
        }

        // right: 0;
        // transform: translateX(100%);
    }
}

ssg-stars {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // pointer-events: none;
    @include layer-0();
    width: 100%;
    height: 100%;
    background-color: transparent;

    html {
        background-color: transparent;

        body {
            background-color: transparent;
        }
    }

}

ssg-menu {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    width: 100%;
    pointer-events: none;

    .get {

        // display: none;
        .mat-icon-button {
            line-height: .7;

            ssg-ssg-icon {
                margin: calc($space / 12);
            }
        }

        .mat-raised-button {
            font-family: inherit;
            color: $dark-color;
            background-color: $accent-color;
        }
    }

    ssg-button.icon {
        transform: scale(1.5);
    }

    @include layer-3();

    .controls {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between; // if home, than 'end' <- original fxLayout
        padding: $space;
        pointer-events: all;

        .cookies {
            position: absolute;
            right: (3 * $space);
            top: $space;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            @include flex-layout-gap(calc($space / 3));
            cursor: pointer;
            width: calc(1.5 * $space);
            overflow: hidden;

            .no-tracking {
                white-space: nowrap;
                animation: textWheel 20s infinite linear;
            }

            // .no-tracking {
            //     overflow: hidden;
            //     width: 0;
            //     height: calc(1.5 * $space);
            //     pointer-events: none;
            // }
            &:hover {
                transition: width .6s ease-in-out;
                width: calc(10.6 * $space);
            }
        }
    }

    .menu-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        // @include flex-layout-gap(6%);
        ssg-search.search {
            flex: 20%;
        }

        ssg-button {
            margin-bottom: $space;
        }
    }

    nav {
        margin: $space 0;

        .menu-blocks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            // @include flex-layout-gap(6%);
            .archives,
            .pages {
                flex: 44%;
            }
        }
    }

    mat-drawer-container.mat-drawer-container {
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;

        mat-drawer {
            pointer-events: all;
            padding: $space;
            background-color: #14141e; // #55b5db; // #14141e;
            width: 100%;
            text-align: left;
            // color: #14141e;


            .menu-blocks {
                text-align: left;
            }
        }
    }
}

ssg-tag {
    @include flex-layout-gap();
}

.cdk-overlay-container {
    @include layer-3();
}

.mat-drawer-inner-container {
    overflow: visible !important;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    * {
        font-family: inherit;
    }
}

ssg-search {
    width: 100%;
    // min-width: 300px;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    font-family: inherit;
    // max-width: 420px;

    mat-form-field.mat-mdc-form-field {
        width: 100%;
        font-family: inherit;
        font-size: inherit;

        // .mdc-text-field__input {
        //     
        // }
        .mdc-text-field--outlined {
            --mdc-outlined-text-field-container-shape: 48px;
        }

        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
            caret-color: $accent-color;
        }

        .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
            stroke: $accent-color;
        }

        /* Change the border focused color */
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
            border-color: $accent-color !important;
        }
    }

    input {
        font-family: inherit;
    }

}

mat-option.mat-mdc-option {
    font-family: inherit;
    font-size: large;
    line-height: 1.3;
    padding: calc($space / 1.2);
    // border-bottom: 1px solid rgba(white, .2);
}

.cdk-overlay-pane {
    height: 100%;
}

div.mat-mdc-autocomplete-panel {
    background-color: $dark-color !important;
    max-height: 80%;
}

.mat-mdc-snack-bar-container {
    align-items: flex-start !important;
}


ssg-post {
    display: block;

    /* center download (get) page */
    &.get {
        // article {
        text-align: center;
        // }
    }

    .post {
        margin-bottom: $space;
    }

    .has-featured-image {
        color: white;
    }

    .full {

        .date,
        .social,
        article,
        .tags {
            // z-index: 99;
            position: relative;
        }

        .social {
            margin-bottom: calc(2 * $space);
        }

        .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // @include flex-layout-gap(); // default calc($space / 2)
        }
    }

    .excerpt {
        .post-header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            h2 {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                @include flex-layout-gap();
            }
        }

        .excerpt-body {
            display: flex;
            flex-direction: row;
            @include flex-layout-gap();
        }

        .tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: $space;
        }
    }

    // HIGHLIGHTED POST
    &.highlight {
        background-color: $accent-color;
        color: $dark-color;
        padding: calc($space / 2);

        &.pinned {
            @include layer-2();
            position: sticky;
            top: calc(5 * $space);
        }

        .post,
        ssg-author,
        .author {
            a {
                color: $dark-color;
            }

            a:hover {
                border-color: $dark-color;
            }
        }
    }

    ssg-loading {
        height: 100%;
    }

}

ssg-posts {
    display: block;
    width: 100%;
    height: 100%;

    .posts-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // @include flex-layout-gap(6%);
    }

    .category-description {
        font-size: medium;
        margin-bottom: $space;
    }

    .subcategories {
        .subcategory-container {
            & > h2 {
                position: sticky;
                top: calc(6 * $space);
                @include layer-3();
            }
        }
        
        .more-subcategory {
            text-align: center;
            margin-top: $space;
            margin-bottom: calc(2 * $space);
        }
    }

    ssg-post {
        flex: 44%;
    }
}

ssg-category-posts {
    display: block;
    width: 100%;
    height: 100%;
}

ssg-social {
    display: block;

    .social-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        // @include flex-layout-gap();
    }

    margin-bottom: $space;
}



.featured-image-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s, visibility 3s;

    &.fadeInFromNone {
        visibility: visible;
        opacity: .35;
        transition: opacity 3s, visibility 3s;
    }
}

ssg-ssg-icon {
    cursor: pointer;
}

ssg-home {
    display: block;
    width: 100%;
    height: 95vh;

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;

        ssg-ssg-icon {
            flex: 20%;
            min-width: 120px;
            max-width: 120px;
            height: auto;
            margin-right: $space;
        }

        h1 {
            // color: transparent;
            // * > span {
            font-size: 10vh;
            text-shadow: 0 0 24px white;
            animation: textShadowWheel 10s infinite linear;
            padding-right: calc(2 * $space);
            // }

        }
    }

    .home-buttons {
        // @include flex-layout-gap();
        margin-bottom: $space;
    }

    .get-ssg-button.mat-raised-button.mat-primary {
        // font-family: inherit; __<<ngThemingMigrationEscapedComment10>>__
        background-color: $accent-color;
        color: $dark-color;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: flex-start;

        .get-ssg {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.mat-button-base {
    font-family: inherit;
    font-size: inherit;
}

.download-button {
    display: inline-block;
    color: white;
    margin: $space 0;
    // border-radius: $space / 8;
    border-radius: calc($space * 2);
    box-shadow: 0 0 $space white;
    background-color: red;

    a {
        padding: calc($space / 4) $space;
        // background-color: red;
        text-decoration: none;
        border: none;

        .link-content {
            // transform: skew(0deg, 0deg);
            color: white;
        }
    }
}

::selection {
    background: $accent-color;
    color: $dark-color;
}

ssg-button {
    margin: 0;
    cursor: pointer;
    display: none;
    text-align: center;

    &.stroked {
        background-color: transparent;
        border-radius: calc($space * 2);
        box-shadow: 0 0 $space white;

        .button-content {
            background-color: transparent;
            padding: calc($space / 4) $space
        }

        animation: buttonWheel 10s infinite linear;
        // animation-delay: random(5) + s;
    }

    &:hover {
        // background-color: red;
        box-shadow: 0 0 $space red;
        border-color: transparent;

        &.stroked {
            -webkit-animation: scale-up-center 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate-reverse both;
            animation: scale-up-center 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate-reverse both;
        }
    }

    &.icon {
        border-radius: 100%;
        background-color: transparent;

        .button-content {
            padding: calc($space / 4);
        }
    }

    &.skew:hover {
        .button-content {
            transform: skew(10deg, 10deg);
        }
    }

    &:active {
        outline: none;
        border-color: red;

        .button-content {
            outline: none;
            // background-color: red !important;
        }
    }

    .button-content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: calc($space / 4) calc($space / 2);
        text-align: center;
        // background-color: inherit;
        // color: inherit;
        font-family: inherit;
        font-size: inherit;
        box-sizing: border-box;
        // flex
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .2s ease-in-out;

        >* {
            display: block;
        }
    }

    /* ----------------------------------------------
     * Generated by Animista on 2023-3-25 13:21:17
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation scale-up-center
     * ----------------------------------------
     */
    @-webkit-keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

}

.text-color-wheel {
    animation: textWheel 20s infinite linear;
    // animation-delay: random(5) + s;
}

ssg-loading {
    display: block;
    padding: $space;

    .loading-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

ssg-not-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.three-dots {
    animation: textWheel 20s infinite linear;
    // animation-delay: random(5) + s;
}

.wavy {
    animation-name: wavy;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}



/* ANIMATIONS */
@keyframes positionRightToLeft {
    from {
        left: 150%;
    }

    to {
        left: -150%;
    }
}

@keyframes textWheel {
    0% {
        color: #84ffff;
    }

    10% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    20% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    30% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    40% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    50% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    60% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    70% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    80% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    90% {
        @include random-color('color', random(100), 100, 70, 1)
    }

    to {
        color: #84ffff;
    }
}

@keyframes wavy {
    0% {
        // top: 0px;
        transform: skew(0);
    }

    25% {
        transform: skew(-10deg, -10deg);
    }

    50% {
        // top: -($space);
        transform: skew(0);
    }

    75% {
        // top: 0px;
        transform: skew(10deg, 10deg);
    }

    100% {
        transform: skew(0);
    }
}

@keyframes buttonWheel {
    0% {
        box-shadow: 0 0 24px #84ffff;
        color: #84ffff;
    }

    10% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    20% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    30% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    40% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    50% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    60% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    70% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    80% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    90% {
        @include random-color-button(random(100), 100, 70, 1);
    }

    to {
        box-shadow: 0 0 24px #84ffff;
        color: #84ffff;
    }
}

@keyframes textShadowWheel {
    0% {
        text-shadow: 0 0 24px #84ffff;
        color: #84ffff;
    }

    10% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    20% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    30% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    40% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    50% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    60% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    70% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    80% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    90% {
        @include random-color-shadow-text(random(100), 100, 70, 1);
    }

    to {
        text-shadow: 0 0 24px #84ffff;
        color: #84ffff;
    }
}


@keyframes backgroundWheel {
    0% {
        background-color: #47856c
    }

    // start/end color
    10% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    20% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    30% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    40% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    50% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    60% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    70% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    80% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    90% {
        @include random-color('background-color', random(360), 30, 40, 1);
    }

    to {
        background-color: #47856c
    }

    // start/end color
}


/* RESPONSIVE */
/* flex-layout lt-md */
@media only screen and (max-width: 959px) {
    ssg-menu {
        .menu-header {
            flex-direction: column; // check it, was error in original: fxLaout.lt-md="column"
            flex-wrap: nowrap;
            align-items: flex-end;

            ssg-search.search {
                flex: 100%;
            }
        }

        nav {
            .menu-blocks {
                flex-direction: column; // check it, was error in original: fxLaout.lt-md="column"

                .archives,
                .pages {
                    flex: 100%;
                }

            }
        }
    }

    ssg-posts {
        .posts-container {
            flex-direction: column;

            ssg-post {
                flex: 100%;
            }
        }
    }

    ssg-home {
        header {
            h1 {
                font-size: 8vh;
            }
        }

    }
}

/* flex-layout gt-xs */
@media only screen and (max-width: 600px) {
    ssg-menu {
        .get {
            display: none;
        }
    }

    ssg-home {
        .home {
            height: auto;

            header {
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 5vh;
                    padding-right: 0;
                }
            }

            .home-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include flex-layout-gap(calc($space / 2), column);
            }
        }


    }
}