/* You can add global styles to this file, and also import other style files */

$space: 24px;
$dark-color: #14141e;
$light-color: silver;


* {
    box-sizing: border-box;
}

.bw-theme {
    // $light-color: white;
    app-root {
        color: white;
        background-color: black;
    }
}

html,
body,
app-root {
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: $light-color; // silver;
    background-color: $dark-color; // #14141e;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Mono', monospace; }

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

a {
    color: #55b5db;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;

    .link-content { 
        display: inline-block;
    }
}

a:hover {
    border: 1px solid #55b5db;
    .link-content {
        color: red;
        transform: skew(10deg, 10deg);
    }
    
}

h1, h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
    // letter-spacing: 2px;
}

h1 {
    position: sticky;
    top: 3 * $space;
}

img, p {
    margin-top: $space;
    margin-bottom: $space; 
}

.mat-drawer-side.mat-drawer-end {
    border-left: none;
}

app-menu {
    color: white;

    .get {
        .mat-button-base {
            line-height: .7;
            app-ssg-icon {
                margin: $space / 12;
            }
        }
    }
}


// HIGHLIGHTED POST
.highlight {
    background-color: #55b5db;
    color: #14141e;
    padding: $space / 2;

    &.pinned {
        position: sticky;
        top: 5 * $space;
    }
    
    .post, app-author, .author {
        a {
            color: #14141e; 
        }
        a:hover {
            border-color: #14141e;
        }
    }
}