$space: 24px;

:host {
    display: block;
    z-index: 99;

    .controls {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: $space;

        .sandwitch.home {
            transform: scale(1.5);
        }
    }

    .theme {
        position: fixed;
        bottom: $space;
        right: $space;
        z-index: 99;
    }

    mat-drawer-container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;

        // .mat-drawer-backdrop {
        //     &.mat-drawer-shown{
        //         background-color: rgba(0, 0, 0, .5) !important;
        //     }
        // }

        mat-drawer {
            pointer-events: all;
            padding: $space;
            background-color: #14141e; // #14141e;
            width: 100%;
            text-align: right;

            .menu-blocks {
                text-align: left;
            }
        }
    }
}