<div class="controls" fxLayout="row" [fxLayoutAlign]="(!home ? 'space-between center' : 'end center')">
    <div class="back" *ngIf="!home">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    
    <div class="get" *ngIf="!home">
        <button mat-icon-button [routerLink]="downloadLink">
            <!-- <mat-icon>get_app</mat-icon> -->
            <app-ssg-icon [flat]="true" [flatColor]="'white'" [size]="36"></app-ssg-icon>
        </button>
    </div>
    
    <div class="sandwitch" #sandwitch [ngClass]="{'home': home}">
        <button  mat-icon-button (click)="toggleMenu(drawer.toggle())">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</div>

<div class="theme">
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>invert_colors</mat-icon>
    </button>
</div>

<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" position="end" closed>
        <button mat-icon-button (click)="closeMenu(drawer.close())">
            <mat-icon>close</mat-icon>
        </button>
        <ng-container *ngIf="categories && pages; else loading">
            <nav>
                <div class="menu-blocks" fxLayout="row wrap" fxLaout.lt-md="column" fxLayoutGap="6%">
                    <!-- ARCHIVES -->
                    <div class="archives" fxFlex="44%" fxFlex.lt-md="100%">
                        <ng-container *ngFor="let cat of categories">
                            <!-- TOP CATEGORIES -->
                            <ng-container *ngIf="cat?.parent === 0">
                                <p>
                                    <a
                                        [routerLink]="'/archive/' + cat.slug"
                                        [state]="{type: 'category'}"
                                        routerLinkActive="active"
                                        (click)="closeMenu(drawer.close())"
                                    ><span class="link-content" [innerHtml]="cat.name | titlecase | safeHtml"></span></a>
                                </p>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- PAGES -->
                    <div class="pages" fxFlex="44%" fxFlex.lt-md="100%">
                        <ng-container *ngFor="let page of pages">
                            <ng-container *ngIf="page.content.rendered">
                                <p>
                                    <a
                                        [routerLink]="'/' + page.slug"
                                        (click)="closeMenu(drawer.close())"
                                    ><span class="link-content" [innerHtml]="page.title.rendered | titlecase | safeHtml"></span></a></p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </nav>
        </ng-container>
        
        <ng-template #loading>
            <div>
                Loading ...
            </div>
        </ng-template>
    </mat-drawer>
</mat-drawer-container>
