<div class="controls" fxLayout="row" [fxLayoutAlign]="(!homePage ? 'space-between start' : 'end start')">
    <div class="back" *ngIf="!homePage">
        <ssg-button [type]="'icon'" (click)="goBack()" [colors]="['white']">
            <mat-icon>arrow_back</mat-icon>
        </ssg-button>
    </div>
    
    <div class="get" *ngIf="!homePage" fxHide fxShow.gt-xs>
        <ssg-button [type]="'icon'" *ngIf="getPage; else downloadButton" [skew]="false" [routerLink]="homeLink">
            <ssg-ssg-icon [flat]="true" [flatColor]="'white'" [size]="36"></ssg-ssg-icon>
        </ssg-button>

        <ng-template #downloadButton>
            <ssg-button *ngIf="siteTitle" [type]="'stroked'" [colors]="['white']" [routerLink]="homeLink">Get {{siteTitle}}</ssg-button>
        </ng-template>
    </div>
    

    <div class="sandwitch" #sandwitch [ngClass]="{'home': homePage}">
        <ssg-button [type]="'icon'" (click)="toggleMenu(drawer.toggle())">
            <mat-icon>menu</mat-icon>
        </ssg-button>
    </div>
</div>

<div class="theme">
    <ssg-button [type]="'icon'" (click)="toggleTheme()">
        <mat-icon>invert_colors</mat-icon>
    </ssg-button>
</div>

<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" position="end" closed>
        <!-- MENU HEADER -->
        <div class="menu-header" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLaout.lt-md="column" fxLayoutGap="6%">
            <!-- <div></div> -->
            <!-- SEARCH -->
            <div fxFlex="44%" fxFlex.lt-md="100%">
                <ssg-search (optionSelected)="searchSelected($event, closeMenu(drawer.close()))"></ssg-search>
            </div>
            <!-- CLOSE BUTTON -->
            <div>
                <ssg-button [type]="'icon'" (click)="closeMenu(drawer.close())">
                    <mat-icon>close</mat-icon>
                </ssg-button>
            </div>
        </div>
        
        <!-- LINKS -->
        <ng-container *ngIf="categories && pages; else loading">
            <nav>
                <div class="menu-blocks" fxLayout="row wrap" fxLaout.lt-md="column" fxLayoutGap="6%">
                    <!-- ARCHIVES -->
                    <div class="archives" fxFlex="44%" fxFlex.lt-md="100%">
                        <!-- CURRENT SHOW -->
                        <p *ngIf="currentShow">
                            <a [routerLink]="'/' + currentShow.slug" (click)="closeMenu(drawer.close())"><span class="link-content" [innerHtml]="'Current Show'"></span></a>
                        </p>
                        <ng-container *ngFor="let cat of categories">
                            <!-- TOP CATEGORIES -->
                            <ng-container *ngIf="cat?.parent === 0">
                                <p>
                                    <a
                                        [routerLink]="'/archive/' + cat.slug"
                                        [state]="{type: 'category'}"
                                        routerLinkActive="active"
                                        (click)="closeMenu(drawer.close())"
                                    ><span class="link-content" [innerHtml]="cat.name | titlecase | safeHtml"></span></a>
                                </p>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- PAGES -->
                    <div class="pages" fxFlex="44%" fxFlex.lt-md="100%">
                        <ng-container *ngFor="let page of pages">
                            <ng-container *ngIf="page.content.rendered">
                                <p>
                                    <a
                                        [routerLink]="'/' + page.slug"
                                        (click)="closeMenu(drawer.close())"
                                    ><span class="link-content" [innerHtml]="page.title.rendered | titlecase | safeHtml"></span></a></p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </nav>
            <div class="social">
                <ssg-social [share]="false" [medias]="followUs"></ssg-social>
            </div>
        </ng-container>
        
        <ng-template #loading>
            <div>
                Loading ...
            </div>
        </ng-template>
    </mat-drawer>
</mat-drawer-container>
